.cart__container {
  padding: 16px;
  width: 20vw;
}
.cart__image,
.cart__action {
  display: flex;
  width: 100%;
}
.cart__image {
  justify-content: center;
  margin-bottom: 12px;
}
.cart__image img {
  max-width: 150px;
}
.cart__action {
  justify-content: space-between;
}
.cart__action input {
  outline: none;
  width: 120px;
  text-align: center;
  font-size: 16px;
}
